*{
    padding:0;
    margin:0;
}

#titalpart{
    background-color:black;
    height:100px;
    h1{font-size:80px;
    color:white;}
}

#navbar {
    #firstword{background-color:black;
        color:white;
    padding:4px;
padding-top:20px;}
a{margin-right:40px;
font-size:20px;
}padding:8px;
    height:30px;
    background-color:white;
    b{
        font-size:30px;
        color:black;
margin-left:380px;
    }
}


#navbar2 {
    #firstword2{
        font-size:20px;
}
a{margin-right:40px;
font-size:15px;
}padding:8px;
    height:25px;
    background-color:rgb(216, 219, 221);
    #firstword3{
        font-size:20px;
        color:rgb(52, 50, 50);
margin-left:700px;
    }
}


#meanpart{margin:0px;
    background-color:rgb(242, 251, 251);
    height:600px;
    .news{display:inline-block;
    margin-right:10px;
    margin-top:32px;
    }
#firstnews{
    margin-bottom:40px;
    margin-left:10px;
    height:550px;
    width:400px;
    background-image:url("newspaper2.jpeg");
    background-size:cover;
    
}


#secondnews{
    margin-bottom:40px;
    height:550px;
    width:300px;
    background-image:url("model1.jpeg");
    background-size:cover;
}

#thirdnews{
    position:absolute;
    bottom:10px;
    height:550px;
    width:300px;
    background-color:rgb(255, 255, 255);
    .anews{
        height:265px;
        width:300px;
        margin-bottom:20px;
        background-image:url("coffee1.jpeg");
        background-size:cover; 
    }
    .bnews{
        height:270px;
        width:300px;
        margin-bottom:20px;
        background-image:url("practice2.jpeg");
        background-size:cover; 
    }
}
    
#forthnews{
    position:absolute;
    bottom:10px;
    left:1080px;
    height:550px;
    width: 350px;
    
    background-color:rgba(242, 240, 240, 0.989);
    a{font-size:40px;
        margin-right:50px;
        padding-left:10px;
    }
    .aanews{
        height:115px;
        width:360px;margin-bottom:10px;
        background-image:url("t20.jpeg");
            background-size:cover; 
    }
    .bbnews{
        height:115px;
        width:360px;
        margin-bottom:10px;
        background-image:url("maxico.jpeg");
        background-size:cover; 
    }
    .ccnews{
        height:115px;
        width:360px;
        margin-bottom:10px;
        background-image:url("maxico.jpeg");
        background-size:cover; 
    }
    .ddnews{
        height:115px;
        width:360px;
        margin-bottom:10px;
        background-image:url("local.jpeg");
        background-size:cover; 
    }
}
}


